h1 {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

main {
  display: flex;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  align-items: center;
  margin: 20px auto 0;
  border: 2px solid rgb(227, 106, 15);
}

#grid div {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(56, 21, 184, 0.765);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}
